OPENAI_API_KEY=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
NEXT_PUBLIC_CHATKIT_WORKFLOW_ID=wf_6952c494e6548190b3f816848eaf6ed90e3af823e60dca8a
